.alternative-products {
  // padding: 0 16px 16px;
  // border: 1px solid #e0e0e0;
  border: 1px solid #f04438;
  border-radius: 12px;
  padding: 12px;
  // margin-bottom: 12px;
  // background: #f5f5f5;

  &__header {
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 6px;
    font-weight: 600;
    color: #f04438;
  }
  &__reason {
    margin-bottom: 0;
    font-size: 12px;
    color: #f04438;
  }

  .order-items {
    .order-item.alternative-products__item {
      // border: 1px solid #f04438;
      // border-radius: 12px;
      // padding: 12px;
      // margin-bottom: 12px;
      // background: #fff7f6;
      opacity: 0.5;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__thumb {
    border-color: #f04438;
    background: #fff;
    padding: 4px;
  }

  &__qty {
    .input-group {
      border: 1px solid #f04438;
      border-radius: 8px;
      padding: 2px;

      .btn {
        color: #f04438;
      }

      .btn:disabled {
        color: #f04438;
        opacity: 1;
      }
    }
  }

  &__price {
    .current {
      color: #f04438;
    }
  }
}

