.section {
  position: relative;
}

.box {
  border-radius: 18px;
  border: 1px solid var(--theme-color);
  padding: 20px 22px;
  background: rgba(248, 248, 248, 0.6);
}

.title {
  // font-size: clamp(1.75rem, 1.3vw + 1.4rem, 2.2rem);
  font-weight: 700;
  color: var(--theme-color);
  margin-bottom: 8px;
}

.text {
  margin: 0;
  color: var(--content-color);
  line-height: 1.3;
  margin-bottom: 12px;
  // font-size: 1rem;
  a {
    color: var(--theme-color);
    text-decoration: underline;
  }

}

@media (max-width: 575.98px) {
  .box {
    padding: 16px 16px;
  }
}

